@font-face {
  font-family: "digital-clock-font";
  src: url("./assets/fonts/digital-7.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

#wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#calculator {
  margin-top: 5rem;
  width: 39rem;
  /* min-height: 48rem;
  max-height: max-content; */
  height: fit-content;
  border: 1px solid black;
  background-color: #423d3d;
}

#screen {
  width: 37rem;
  min-height: 8rem;
  height: max-content;
  margin: 2rem auto 0.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 2px solid wheat;
  background-color: #a7af7c;
  color: #d31616;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "digital-clock-font";
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#display {
  margin-top: 0.5rem;
  color: black;
}

#input-container {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(4, 8.5rem);
  grid-template-rows: repeat(5, 6rem);
  padding: 1rem;
  gap: 1rem;
}

#input-container > button {
  border: 1px solid black;
  font-size: 2.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 0.8rem;
}

#input-container button:hover {
  opacity: 1;
}

#delete {
  grid-column: span 2;
  background-color: yellow;
}

#clear {
  background-color: red;
}

#equals {
  grid-row: span 2;
  background-color: #34b934;
}

@media only screen and (max-width: 440px) {
  html {
    font-size: 48%;
  }
}
